body {
	background-color: #E5E9F2;
}

.nav {
	background-color: #E5E9F2;
}

li {
	display: block;
	color: #3D17C9;
}

ul {
	text-align: right;
	font-family: 'Bungee Shade', cursive; 
}

a {
	text-decoration: none;
	text-decoration-color: #3D17C9;
}

a:visited {
	color: #3D17C9;
}

a:hover {
	color:#D30097;
	transition: all 1s;
}

.homepage {
	font-size: 40px;
	font-family: 'Bungee Shade', cursive;
	color: #3D17C9;
}

.date {
	font-size: 20px;
	color: #3D17C9;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;
}

.header {
	text-align: center;
	font-size: 55px;
	color: #E23E28;
	font-family: 'Bungee Shade', cursive;
}

.byline {
	text-align: center;
	font-size: 35px;
	color: #E2705B;
	font-family: 'Roboto', sans-serif;
}

.article {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: black;
	text-align: justify;
	padding: 15px;

}

.alanaimg {
	height: 425px;
	width: 400px;
	float: right;
	padding-top: 20px;
}

.chart {
	padding: 20px;
}

blockquote {
	border-left: 5px solid #D30097;
	font-size: 30px;
}


@media screen and (max-width: 400px) {
	.header {
		font-size: 300%;
	}

	.byline {
		font-size: 200%;

	}

	.alanaimg {
		float: none;
		height: 375px;
		width: 350px;
	}







