body {
	background-color: #C6A0D8;
}

.title {
	text-align: center;
	font-size: 30px;
	font-family: 'Bungee Shade', cursive;
	padding: 20px;
	margin: 20px;
}

.follow {
	text-align: center;
	font-size: 25px;
	color: #D30097;
	background: #C6A0D8;
	font-family: 'Bungee Shade', cursive;
	padding: 20px;
}	

.bio {
	text-align: center;
	font-family: 'Lato', sans-serif;
}


li {
	display: inline;
	color: #3D17C9;
	padding: 20px;
}

ul {
	text-align: center;
	background-color: #C6A0D8;
	padding: 20px;
	font-family: 'Lato', sans-serif; 
}

a {
	text-decoration: none;
	text-decoration-color: #3D17C9;
}

a:visited {
	color: #3D17C9;
}

a:hover {
	color:#D30097;
	transition: all 1s;
}


.linkedin {
	font-size: 30px;
	color: #3D17C9;
}

.instagram {
	font-size: 30px;
	color: #3D17C9;
}









