body {
	background: url("whygeorgiawhy.jpg");
}

h1 {
	font-size: 60px;
	text-align: left;
	color: #D30097;
	font-family:'Bungee Shade', cursive;
}

li {
	color: #3D17C9 ;
	display: inline;
	padding: 10px;
}

ul {
	text-align: left;
	font-size: 40px;
	font-family: 'Bungee Shade', cursive;
}

a {
	text-decoration: none;
	text-decoration-color: #3D17C9 ;
}

a:visited {
	color: #3D17C9;
}

a:hover {
	color:#D30097;
	transition: all 1s;
}

@media screen and (max-width: 400px) {
	body {
		background: url("mobilegeorgia.png");
	}

	h1 {
		font-size: 240%;
	}

	li {
		display: block;
	}

	ul {
		font-size: 150%;
	}	
}

































